body{
    padding: 0px;
    border-width: 0px;
    background:
	linear-gradient(to bottom, transparent -100px,#6059ed 300px),
	linear-gradient(to right, #3c77dc,#FFD1DE);
    user-select: none
}
.login-group{
    /* display: inline-block; */
    background-color: rgb(255, 255, 255);
    width: 6cm;
    border-radius: 8px;
    border: 2px solid #0e61c6 ;
    /* display: inline; */
    /* position: relative; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    padding: 10px;
    margin: 30px;
    
}
.float-input-group{
    
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 10px;
        
}
.float-input-group input{
    padding-bottom: 8px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    outline: none;
    color: #0dac25;
    font-size: 16px;
    border: 2px solid #000000;
    width: 4cm;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;

}
.float-input-group input#password{
    /* padding: 10px; */
    border-radius: 8px;
    outline: none;

    font-size: 16px;
}
.float-input-group input#TO_Amount{
    /* padding: 10px; */
    border-radius: 8px;
    outline: none;
    pointer-events: none;
    font-size: 16px;
}
.float-placeholder{
    position: absolute;
    top: 0%;
    left: 50%;
    font-size: 16px;
    padding: 0px 5px;
    transform: translateX(-80px);
    transition: 0.3s;
    pointer-events: none;
}
.float-input-group input:focus + .float-placeholder,
.float-input-group input:not(:placeholder-shown) + .float-placeholder
{
    top: -100%;
    background-color: rgb(255, 255, 255);
}

.HEAD{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 64px;
    padding: 75px 0px 0px;
}

.BUTTOM{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 8px;
    padding: 150px 0px 0px;
}

.layout{
    margin: 0px;
    padding: 0px;
	min-height: 100vh;
	background:rgba(0,0,0,0)
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left: 20px solid rgb(255, 255, 255);
    display: inline-block;
    position: relative;

}

.ConvertBUT {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(27, 216, 162);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 175px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.ConvertBUT span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.ConvertBUT span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.ConvertBUT:hover span {
    padding-right: 25px;
  }
  
.ConvertBUT:hover span:after {
    opacity: 1;
    right: 0;
  }
.ConvertBUT:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }